<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ListServer" value="***-DRPSDEV01;***-DRPSTES01;***-DRDBD02;***-ITPSSQ01;***-ITDBSQ01;***-ITSTGD01"/>
    <add key="ListDatabase" value="-Select-;Master;Transaction;2W;Staging;SandBox;DBA;Grant"/>
    <add key="History" value="\\***-drrpt1\MigrationUploadData\Abud\Taufiq\Publishing tools\History.txt"/>
    <add key="ErrLog" value="\\***-drrpt1\MigrationUploadData\Abud\Taufiq\Publishing tools\ErrLog.txt"/>
    <add key="GrantErrLog" value="\\***-drrpt1\MigrationUploadData\Abud\Taufiq\Publishing tools\GrantErrLog.txt"/>
    <!--<add key="backupServer" value="***-PSSTG4"/>-->
    <add key="backupServer" value="***-PSSTG3"/>
    <!--<add key="backupServer" value="***-DRRPT1"/>-->

    <!--
    //testingtaufiq
    source = @"\\***-drrpt1\MigrationUploadData\Abud\Taufiq\Publishing tools\testsource";
    destination = @"\\***-drrpt1\MigrationUploadData\Abud\Taufiq\Publishing tools\testpath"; 
    -->
    
    <!-- path lokal -->
    <add key="localPath_PSS4W" value="C:\Deploy\Source\Publish Prod "/>
    <!-- <add key="localPath_TAM" value="C:\Deploy\Source\Publish Prod "/>-->
    <add key="localPath_PSS2W" value="\\***-ITPSAP15\E$\BACKUP &amp; PUBLISH NPC\PUBLISH\"/>
    <add key="localPath_apps" value="\PSSApps"/>
    <add key="localPath_SSIS" value="\SSIS\UploadUISO"/>

    <!-- path backup -->
    <add key="backupPath_apps" value="\c$\BAK\"/>
    <add key="backupPath_PSS4W_webApps" value="\c$\BAK\"/>
    <add key="backupPath_TAM_webApps" value="\c$\BAK\"/>
    <add key="backupPath_PSS2W_webApps" value="\\***-ITPSAP15\E$\BACKUP &amp; PUBLISH NPC\BACKUP\"/>
    <add key="backupPath_SSIS" value="\c$\BAK\"/>

    <!-- path production -->
    <add key="path_apps" value="\e$\apps"/>
    <add key="path_appsStg" value="\s$\apps"/>
    
    <add key="path_PSS4W_webApps" value="\e$\webapps"/>
    
    <!--<add key="path_PSS4W_webApps" value="\c$\webapps"/>-->
    
    <add key="path_TAM_webApps" value="\e$\Webapps"/>
    <add key="path_PSS2W_webApps" value="\c$\webapps"/>
    <add key="path_PSS4W_SSIS" value="\s$\SynchronizationPackages\Astra"/>
    <add key="path_TAM_SSIS" value="\s$\SynchronizationPackages\TAM"/>
    

    <!-- path log -->
    <add key="appsLog" value="\\***-drrpt1\MigrationUploadData\Abud\Taufiq\Publishing tools\"/>
    <!-- path script powershell -->
    <add key="poolPowershell" value="\\***-drrpt1\MigrationUploadData\Abud\Taufiq\Publishing tools\startStopPool.ps1"/>

    <!-- path xml dan penyebarannya-->
    <add key="xmlSource_4W" value="\C$\Deploy\Source\config\"/>
    <add key="connStringSource_4W" value="\C$\Deploy\Source\connstring\"/>
    <add key="xmlDest_4W" value="\e$\webapps\"/>
    <add key="xmlSource_2W" value="\C$\webapps\"/>
    <add key="xmlDest_2W" value="\C$\webapps\"/>
  </appSettings>
  <connectionStrings>
    <add name="connString" connectionString="Data Source=***-ITSQL12;Initial Catalog=DBA;User ID=dbamsuser;Password=***"/>
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
